.container {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.startButton {
  display: flex;
  align-items: center;

  #text {
    margin-left: 3px;
  }
}

.taskbar {
  background-color: silver;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2px 8px;
  border-top: 2px outset white;
  z-index: 95;
}