.container {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.desktop {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.taskbar {
  background-color: silver;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2px 8px;
  border-top: 2px outset white;
  z-index: 95;
}

.startButton {
  display: flex;
  align-items: center;

  #text {
    margin-left: 3px;
  }
}

.iconWrapper {
  width: 64px;
  margin-top: 20px;

  &:nth-child(1) {
    margin-top: 0px;
  }

  &:active {
    .icon div {
      color: white;
      background-color: #2d49eb;
    }
  }
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 48px;
    image-rendering: pixelated;
  }

  div {
    text-align: center;
    margin-top: .5rem;
    height: 100%;
  }


}